<html>
<head>
<meta charset="UTF-8">
<title>Clients</title>
</head>
<body>



<h1> {{ customer.id }} </h1>
<h2> {{ driver.D_Name }} </h2>


<p>Username: {{ customer.C_Username }}</p>

<p>Password: {{ customer.C_Password }}</p>

<p>Name: {{ customer.C_Name }}</p>

<p>Address: {{ customer.C_Address }}</p>

<p>Phone no: {{ customer.C_Ph_no }}</p>

<p>Driver-id: {{ customer.C_D_id }}</p>

<p>Dustbin-id: {{ customer.C_Dustbin_ID }}</p>


<br>
<p>Go back to the <a href="/C_list"> List of Clients </a></p>
<br>
<p> Delete the Clients's Record <a href="/list/{{driver.id}}/"> Remove </a></p>


</body>
</html>



