<!DOCTYPE html>
<html>
<head>
	<title> Trash Can Details </title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  	<meta charset="utf-8">
	 
<style type="text/css">
  



</style>


</head>

<body>

	<div class="container-fluid">
    
 
	<h3>Trash Cans Location: 	</h3>
    <div class="row thm">

      <div class="col-sm-11 text-center"><div class="thumbnail"><a href="#"><iframe src="https://www.google.com/maps/d/embed?mid=1cghRU0vmY5rRZEp-iWD8sFWRJzgkCXPR&hl=en" width="640" height="480"></iframe><div class="caption"><strong> Trash percent </strong></div></a></div></div>
      
    </div>
   	
    </div>

<div class="footer text-center a"> Zapbuild 2019 , All rights Reserved</div>

</body>
</html>